#cps-settings form {
	margin-top: 2rem;
}

#cps-settings label {
	text-transform: capitalize;
	display: block;
	margin-bottom: .5rem;
	font-size: 1.1rem;
}

#cps-settings input {
	margin-right: 1rem;
}